*
{
outline: 2px solid red; 
}
/*CLASES GENERALES*/
.fondo , .degradado
{
    height: 520px;
    color: white;
}
h4 {
    color: #34b9b9;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
header, footer{ background-color: #244056; padding: 20px 0px;}
/*ESTE ES EL HEADER*/
header nav { text-align: center; }
header nav ul { list-style-type: none; }
header nav ul li { display: inline; }
header nav ul li a { font-size: 1.2em; color: white;}
header nav a:hover { text-decoration: none; }
/*ESTE ES EL BANNER*/
.banner
{
    background: url('../image/large.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.degradado
{
    overflow: hidden;
    background-color: rgba(38, 38, 38, 0.50); 
}
 .seccion_prueba
{
    margin:0 -15px;
    background-color: #4e7fb8;
    opacity: 0.7;
    padding: 30px 0;
   	height: 160px;
}
.seccion_prueba button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
section .frase 
{
    display: table;
    height: 360px;
    margin: 0 auto;
	width: 50%;
}
section .frase h2 
{
    display: table-cell;
    vertical-align: middle;
	font-size: 40px;
}
/*ESTA ES LA HERO SECTION*/
.icon-container{
    width: 150px;
    height: 150px;
    margin:0 auto;
    font-size: 50px;
    text-align: center;
    box-shadow: -3px 3px 12px black;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 200px;
    color: #a1c2ff;
}
.hero h1
{
    color: #a1c2ff;
    font-size: 28px;
    margin-bottom: 40px;
}
.hero h3
{
    color: #3f8fc5;
    font-size: 20px;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.hero p
{
    margin-left: 45px;
    margin-right: 45px;
}
.separador{
	padding:50px 0px 0px  0px;
}
/*ESTA ES LA PARTE DEL SEPARADOR*/
.separador img{
    transform: translateY(-70%);
}
/*ESTA ES LA PARTE DEL EJEMPLO*/
.ejemplo_user .user {
   
    margin: 20px auto;
}
.ejemplo_user h4 {
	color: #a1c2ff;
    display: inline-block;
    line-height: 20px;
    font-size: 30px;
    vertical-align: middle;
    padding: 0 15px;
}
.ejemplo_user p {
    padding-top: 10px;
}
.ejemplo_user .flechados {
    margin: 0 auto;
    display: block;
}
/*ESTA ES LA SECCION DE LOS PASOS*/
.pasos {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.pasos .col-md-6 h6 {
    font-size: 18px;
    color: #a1c2ff;
    padding-top: 22px;
}
.pasos .col-md-6 h5 {
    font-size: 25px;
    color: #222222;
    font-weight: bold;
    padding-top: 10px;
}
.pasos .list-pasos {
    padding-left: 18px;
}
.left {
    background: url(../image/sec-2.jpg) no-repeat;
    background-attachment: scroll;
    background-position: left;
    background-size: cover;
    height: 470px;
}
.fondo-pasos {
    background: rgba(66, 66, 87, 0.64);
    height: 470px;
    color: #fff;
}
.pasos .right {
    padding-left: 60px;
}
.pasos .list-icons {
    list-style: none;
}
.pasos .list-icons li i {
    font-size: 26px;
    background: #41b0eb;
    border-radius: 100%;
    padding: 10px;
    display: inline-block;
    color: #fff;
}
.pasos .list-icons .separador {
    padding-top: 60px;
    margin-right: -38px;
}
.pasos .list-icons li {
    text-align: right;
    margin-right: -30px;
    padding-top: 78px;
}
.pasos .row p, .pasos .row li {
    line-height: 1.8em;
}
/*ESTA ES LA PARTE DE CONTENIDO*/
.uso {
    margin-top: 100px;
    margin-bottom: 130px;
}
.uso h4 {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
}
.uso p {
    padding-top: 10px;
    line-height: 1.5em;
}
.uso ul li {
    line-height: 1.5em;
}
.uso ul {
    padding: 10px 0 10px 30px;
}
.uso small {
    color: #3490b9;
    font-weight: normal;
}
.etiqueta 
{
    color: white;
}
/*ESTA ES LA SECCION ANTES DEL FOOTER*/
 .prueba_footer
{    
    background-color: #4e7fb8;
    color: white;
    opacity: 0.7;
    padding: 30px 0;
    height: 160px;
}
.prueba_footer button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
/**AQU ESTA EL FOOTER*/

footer p , a
{
    margin: 0px;
}
footer p
{
    color: white;
}
footer i{
    font-size:30px;
    color: blue;
    
}
