/*@media only screen and (max-width: 767px) {
  header {
    background-image: url('../image/large.jpg');
  }

}*/
/*

@media screen and (max-width:920px){
    .container{
        width: 600px;
    }
   
    
}


@media screen and ( max-width:600px){
     
    .container{
        width: 100%;
    }
    .list-inline{
        display: none;
    }
    
    .col-md-6, .col-md-4, .col-md-7, col-md-5{
        width: 100%;
    }
    .block-form{
        margin: 0;
    }
    
    
}*/