@media screen and (max-width:1000px) {

    section .frase h2
    {
        font-size: 30px;
    }
    section .frase 
    {
        width: 80%;
    }
    .seccion_prueba, .prueba_footer {
        height: 220px;
        padding: 0;
    }
    .seccion_prueba .col-md-3  , .prueba_footer .col-md-3{
        display: block;
        text-align: center;
    }
    .seccion_prueba button {
        margin: 0px;
        padding: 5px;
        font-size: 15px;
    }
    footer .soporte
    {
        text-align: center;
    }
    .formulario
    {
        width: 50%;
        height: auto;
        position: relative;
        /*top: 20%;
        left: 5%;*/
        right: 0px;
        left: 0px;
        bottom: 0px;
        margin: 0 auto;
        
    }
   
}




/*@media only screen and (max-width: 767px) {
  header {
    background-image: url('../image/large.jpg');
  }

}*/
/*

@media screen and (max-width:920px){
    .container{
        width: 600px;
    }
   
    
}


@media screen and ( max-width:600px){
     
    .container{
        width: 100%;
    }
    .list-inline{
        display: none;
    }
    
    .col-md-6, .col-md-4, .col-md-7, col-md-5{
        width: 100%;
    }
    .block-form{
        margin: 0;
    }
    
    
}*/